{% extends 'base.html' %}
{% block title %}Menú | El Buen Sabor{% endblock %}

{% block content %}
<h2>Menú de Platos</h2>
<div class="row">
    {% for plato in platos %}
    <div class="col-md-4">
        <div class="card mb-3">
            <img src="{{ plato.imagen.url }}" class="card-img-top">
            <div class="card-body">
                <h5>{{ plato.nombre }}</h5>
                <p>{{ plato.descripcion }}</p>
                <p class="text-success fw-bold">${{ plato.precio }}</p>
                <a href="{% url 'crear_pedido' %}?plato={{ plato.id }}" class="btn btn-success">Pedir</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}